@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    
</header>
<br />
<br />
<br />
<body>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</body>

<script src="~/js/vendor.min.js"></script>
<script src="~/js/app.js"></script>