
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/vendor.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />

    <title>Home</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121642637-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-121642637-4');
    </script>

</head>
<body>
    <header class="header header-dark header-sticky">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark ">
                    <a href="index-2.html" class="navbar-brand order-1 order-lg-2"><img src="~/images/logo.svg" alt="Logo"></a>
                    <button class="navbar-toggler order-2" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse order-3 order-lg-1" id="navbarMenu">
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item">
                                <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Shop">
                                    Shop
                                </a>
                            </li>

                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown-11" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Products 
                                    </a>
                                    <ul class="dropdown-menu btn-gray-dark" aria-labelledby="navbarDropdown-11">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">Manage Users</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse order-4 order-lg-3" id="navbarMenu2">
                        <ul class="navbar-nav ml-auto">
                            @*<li class="nav-item">
                                <a class="nav-link" href="portal.html">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="modal" data-target="#search" class="nav-link"><i class="icon-search"></i></a>
                            </li>
                            <li class="nav-item cart">
                                <a data-toggle="modal" data-target="#cart" class="nav-link"><span>Cart</span><span></span></a>
                            </li>*@
                            <partial name="_LoginPartial" />
                            <li class="nav-item cart">
                                <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index"><span>Cart</span><span></span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <partial name="_Notification" />
    @RenderBody()

    <footer class="bg-dark text-white py-0">
        <div class="container">
            <div class="row separated">
                <div class="col-lg-6 py-10">
                    <div class="row">
                        <div class="col-md-8">
                            <p>Thanks to <a href="https://www.opumo.com/" class="underline">Opumo</a> for the product images used in this demo theme. Head over to <a href="https://www.opumo.com/" class="underline">their store</a> to get these products.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="eyebrow mb-2">Quick Links</h4>
                            <ul class="list-group list-group-columns">
                                <li class="list-group-item"><a href="about.html">About</a></li>
                                <li class="list-group-item"><a href="contact.html">Contact Us</a></li>
                                <li class="list-group-item"><a href="faq.html">FAQ</a></li>
                                <li class="list-group-item"><a href="blog.html">Blog</a></li>
                                <li class="list-group-item"><a href="text.html">Terms of Use</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 py-10">
                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <h4 class="eyebrow mb-2">Subscribe</h4>
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Email" aria-label="Subscribe" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-white" type="button" id="button-addon2">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <h4 class="eyebrow mb-2">Follow us</h4>
                            <nav class="nav nav-icons">
                                <a class="nav-link" href="#!"><i class="icon-facebook-o"></i></a>
                                <a class="nav-link" href="#!"><i class="icon-twitter-o"></i></a>
                                <a class="nav-link" href="#!"><i class="icon-youtube-o"></i></a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
