@model List<Coupon>

@{
    Layout = "_AdminLayout";
}


<!-- content -->
<div class="content ">
    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">
                    Coupon List
                </h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Coupon" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Coupon
                </a>
            </div>

        </div>


        <table id="tblData" class="table table-bordered table-striped" width="100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Coupon Name
                    </th>
                    <th>
                        Discount Amount
                    </th>
                    <th>
                        Minimum Purchase
                    </th>
                    <th>
                        Maximum Purchase
                    </th>
                    <th>
                        Discount Percentage
                    </th>
                    <th>
                        Expity Date
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>

        </table>

    </div>

</div>
@section Scripts{
    <script src="~/js/coupon.js"></script>
}

