
<section class="py-0 text-white">
    <div class="image image-overlay" style="background-image:url((/images/background-3.jpg)"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center vh-100">
            <div class="col-10 col-md-8 col-lg-4 text-center">
                <h1 class="display-1 font-weight-bold"><i class="bi bi-cart"> Cart Empty</i></h1>
                <p class="lead"> Your Cart Seems to be Empty !..... <a asp-action="Index" asp-controller="Home" class="d-inline-block underline">Start Shopping</a></p>
            </div>
        </div>
    </div>
</section>

<script src="~/js/vendor.min.js"></script>
<script src="~/js/app.js"></script>
