
<br />
<br />
<br />

<!-- content -->
<div class="content ">
    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">
                    Order List
                </h2>
            </div>

        </div>
        <table id="tblData" class="table table-bordered table-striped" width="100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Status

                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        View   &   Invoice
                    </th>
                </tr>
            </thead>

        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/orders.js"></script>
}

<script src="~/js/vendor.min.js"></script>
<script src="~/js/app.js"></script>
